:root {
	--font-main: 'Nunito Sans', sans-serif;
	--font-accent: 'Inter', sans-serif;
	--basic-white: #FFFFFF;
	--basic-grey: #8D8F91;
	--basic-gray: #EBEDEE;
	--slider-white: #EBEBEC;
	--text-color: #343A40;
	--basic-green: #19B37D;
	--extra-green: #188A7B;
	--basic-gold: #A07855;
	--basic-link: #6B707E;
}