.demonstration {
    margin-top: 58px;
}

.demonstration__wrapper {
    display: grid;
    grid-template-columns: 0.76fr 1fr;
    gap: 42px;
    max-width: 1093px;
    margin: 0 auto;
}

.demonstration__figure {
    display: flex;
    width: 100%;
}

.demonstration__list.swiper-wrapper {
    height: auto;
}

.demonstration__slider {
    width: 100%;
    height: 100%;
}

.demonstration__item.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demonstration__image {
    display: block;
    width: 100%;
    height: 295px;
    object-fit: cover;
}

.demonstration__pagination {
    position: relative;
}

.demonstration__pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background-color: var(--slider-white);
}

.demonstration__pagination .swiper-pagination-bullet-active {
    color: var(--basic-white);
    background: linear-gradient(211deg, #999595 16.04%, #585858 85.53%);
}

.demonstration__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.demonstration__item--flex {
    display: flex;
    align-items: center;
    margin-top: 28px;

    .menu__action {
        min-width: 237px;
    }

    .menu__description {
        font-size: 14px;
        font-weight: 400;
        opacity: 0.8;
        margin-left: 10px;
    }
}

.demonstration__right {
    display: flex;
    flex-direction: column;
    margin-top: 27px;

    .demonstration__item {
        max-width: 432px;
    }
}